<header *ngIf="!editEvent">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-9 col-sm-12">
                <button type="button" class="btn btn-info" (click)="editingEvent()">Editar Evento</button>
                <div class="text-center">
                    <p>{{event.date | date: 'dd/MM/yyyy hh:mm'}} - {{event.street}} ({{event.postalCode}}) - {{event.location}} </p>
                    <h3>{{event.title}}</h3>
                    <h4>{{event.code}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-10 col-md-12 col-xs-12">
        <h5>Descripción</h5>
        <p>{{event.description}}</p>
    </div>

</header>

<section *ngIf="editEvent">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-sm-12">

                <form [formGroup]="form">
                    <div class="text-center">
                        <div class="row d-flex justify-space-between mt-4">
                            <span class="editing col">Título</span>
                        </div>
                        <div class="row d-flex justify-space-between mt-4">
                            <input class="editing col title" type="text" placeholder="Título" formControlName="title">
                        </div>

                        <div class="row d-flex justify-space-between mt-4">
                            <span class="col editing">Calle</span>
                            <span class="col editing">Localidad</span>
                            <span class="col editing cp">Código Postal</span>
                        </div>
                        <div class="row d-flex justify-space-between mt-4">
                            <input type="text" class="col editing  street" placeholder="Calle" formControlName="street" />
                            <input type="text" class="col editing locale" placeholder="Localidad" formControlName="location" />
                            <input type="text" class="col editing cp" placeholder="Código Postal" formControlName="postalCode" />

                        </div>
                    </div>
                    <h5 class="mt-4">Descripción</h5>
                    <div class="row d-flex justify-space-between mt-4">

                        <textarea class="col editing" placeholder="Descripción" formControlName="description"></textarea>
                    </div>
                </form>
                <h5 class="mt-4">Fecha y hora</h5>
                <div class="row d-flex justify-content-center mt-4">

                    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" (change)="selectYearMonth(dp, tp)" [ngModelOptions]="{standalone: true}"> </ngb-datepicker>
                    <ngb-timepicker #tp [(ngModel)]="time" class="m-auto" [meridian]="true" (click)="selectHour(dp, tp)" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                </div>
                <div class="justify-space-around buttons mt-4">
                    <button type="button" class="btn btn-success editing" (click)="saveEditEvent()">Guardar</button>
                    <button type="button" class="btn btn-warning editing" (click)="cancelEditEvent()">Cancelar</button>
                </div>
            </div>

        </div>
    </div>

</section>
<section *ngIf="!editEvent">
    <div class="container col-lg-10 col-md-12 col-xs-12">

        <div>
            <button class="btn btn-primary mt-3 mb-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Ver lista de Invitaciones</button>
            <div class="col-lg-12 col-md-12 col-xs-12">

                <div class="collapse" id="collapseExample">
                    <app-invitations #appInvitations [Invitations]="eventInvitations" (invitationsChange)="getNewInvitations($event)" [editInvitation]="editInvitation" (editInvitationChange)="editInvitationChange($event)"></app-invitations>

                    <table class="table table-responsive">
                        <thead>
                            <tr class="row d-flex justify-space-between">
                                <th class="col">Código</th>
                                <th class="col">Nombre</th>
                                <th class="col">Apellidos</th>
                                <th class="col">Confirmado</th>
                                <th class="col">Miembro</th>
                                <th class="col">Alergias</th>
                                <th class="col">Movilidad</th>
                                <th class="col">Detalles</th>
                                <th class="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row d-flex justify-space-between" *ngFor="let inv of eventInvitations.invitations">
                                <td class="col">{{inv.code}}</td>
                                <td class="col">{{inv.name}}</td>
                                <td class="col">{{inv.surname}}</td>
                                <td class="col" [ngSwitch]="inv.confirmed">
                                    <p *ngSwitchCase="true">Sí</p>
                                    <p *ngSwitchCase="false">No</p>
                                </td>
                                <td class="col" [ngSwitch]="inv.member">
                                    <p *ngSwitchCase="true">Sí</p>
                                    <p *ngSwitchCase="false">No</p>
                                </td>
                                <td class="col">{{inv.alergenics}}</td>
                                <td class="col">{{inv.functionality}}</td>
                                <td class="col">{{inv.Responses}}</td>

                                <td class="col d-flex justify-space-between">
                                    <button type="button" class="btn btn-warning mr-3" [disabled]="(inv.member == true)" (click)="editItem(inv.code, appInvitations)"><i class="fa fa-pencil fa-fw"></i></button>
                                    <button type="button" class="btn btn-secondary" (click)="removeItem(inv.code)"><i class="fa fa-trash fa-fw"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</section>
<section *ngIf="!editEvent">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class=" text-center">
                    <div data-wow-delay="0.2s">
                        <div id="news">
                            <app-news [idEvent]="event.idEvent" [News]="News" [makingNews]="makingNews" (makingNewsChange)="reciveNews($event)"></app-news>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="!editEvent">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class=" text-center">
                    <div data-wow-delay="0.2s">
                        <div id="questions">

                            <app-questions [numInvitados]="numInvitados" [idEvent]="event.idEvent" [Questions]="Questions" [makingQuestions]="makingQuestions" (makingQuestionsChange)="reciveQuestion($event)" [titleEvent]="event.title"></app-questions>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-attends-chat [idEvent]="event.idEvent" *ngIf="!editEvent"></app-attends-chat>