<form [formGroup]="form">

    <div formArrayName="News" *ngFor="let creds of form.get('News')['controls']; let i = index">
        <ng-container [formGroupName]="i">
            <input placeholder="Título" formControlName="title">
            <input placeholder="Cuerpo" formControlName="body">
        </ng-container>
    </div>
    <button type="button" class="btn btn-info" (click)="saveItem()" *ngIf="makingNews">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="cancelNews()" *ngIf="makingNews"><i class="fa fa-trash fa-fw"></i></button>
</form>