<table class="table">
    <thead>
        <tr class="row">
            <th class="col">Título</th>
            <th class="col">Cuerpo</th>
            <th class="col">Fecha de Creación</th>
        </tr>
    </thead>
    <tbody *ngFor="let n of News">
        <tr class="row">
            <td class="col">{{n.title}}</td>
            <td class="col">{{n.body}}</td>
            <td class="col">{{n.createdAt | date: 'dd/MM/yyyy hh:mm'}}</td>
        </tr>
    </tbody>
</table>
<button type="button" *ngIf="!makingNews" class="btn btn-info" (click)="addNew()">Publicar una Noticia</button>
<app-new *ngIf="makingNews" [form]="form" [fb]="fb" (formSave)="saveNew($event)" [(makingNews)]="makingNews"></app-new>