.flex-fill {
    margin-top: 0;
}

label {
    display: block;
    color: white;
    position: relative;
    cursor: pointer;
    top: -30px;
    left: 120px;
}

label:before {
    background: rgb(101, 23, 230);
    background: linear-gradient(135deg, rgba(101, 23, 230, 1) 12%, rgba(10, 28, 240, 1) 38%, rgba(2, 117, 217, 1) 69%, rgba(10, 236, 240, 1) 91%, rgba(9, 230, 126, 1) 100%);
    color: white;
    content: "0";
    font-weight: bold;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 23px;
    transition-duration: 0.4s;
    transform: scale(1);
}

.nav-link {
    font-weight: bold;
}