<div class="container">
    <h3 class=" text-center">Chatea con tus invitados</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Reciente</h4>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="chat_list" *ngFor="let c of chats" (click)="expandChat(c.idAttend)" id="{{c._id}}">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>{{c.nameSurname}} <span class="chat_date">{{c.lastMessage | date: 'MMM d'}}</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history" #scrollframe>
                    <div *ngFor="let msg of messages" #item>
                        <div class="incoming_msg" *ngIf="msg.role == 'Invitado'">

                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <p>{{msg.name}} {{msg.surname}}</p>
                                <div class="received_withd_msg">
                                    <p>{{msg.message}}
                                    </p>
                                    <span class="time_date"> {{msg.createdAt | date: 'HH:mm'}}    |    {{msg.createdAt | date: 'MMM d, yy'}}</span></div>
                            </div>
                        </div>

                        <div class="outgoing_msg" *ngIf="msg.role == 'Anfitrión'" id="{{msg._id}}">

                            <div class="sent_msg">
                                <p>{{msg.message}}</p>

                                <span class="time_date"> {{msg.createdAt | date: 'HH:mm'}}    |    {{msg.createdAt | date: 'MMM d, yy'}}</span> </div>
                        </div>
                    </div>
                </div>

                <div class="type_msg" #input>
                    <div class="input_msg_write">
                        <input type="text" #msg class="write_msg" placeholder="Type a message" [disabled]="idAttend == 0" />
                        <button class="msg_send_btn" type="button" (click)="sendMessage(msg.value)" [disabled]="idAttend == 0"><i class="fa fa-paper-plane-o"></i></button>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>