<aside>
    <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
        <div class="collapse navbar-collapse ">
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                    <h1 class="pl-0 text-nowrap font-weight-bold text-light">Eventic</h1>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><span class="d-none d-md-inline">Cuenta</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav flex-md-column flex-row w-100 justify-content-between list-unstyled ml-3" id="nav">
                            <li class="nav-item mb-3">
                                <a href="/perfil" class="nav-link pl-0"><i class="fa fa-user fa-fw ml-3"></i> <span class="d-none d-md-inline"> Mi perfil</span></a>
                            </li>
                            <li class="nav-item mb-3">
                                <a href="/bienestar" class="nav-link pl-0"><i class="fa fa-heart ml-3"></i> <span class="d-none d-md-inline">  Bienestar</span></a>
                            </li>
                            <li class="nav-item mb-3">
                                <a href="/mis-eventos" class="nav-link pl-0"><i class="fa fa-calendar ml-3" aria-hidden="true"></i> <span class="d-none d-md-inline"> Mis Eventos</span></a>
                            </li>
                            <li class="nav-item mb-3">
                                <a href="/mis-invitaciones" class="nav-link pl-0"><i class="fa fa-envelope-open ml-3" aria-hidden="true"></i><span class="d-none d-md-inline"> Mis Invitaciones</span></a>
                            </li>
                            <li class="nav-item dropdown d-none">
                                <a class="nav-link dropdown-toggl" href="#" id="navbarDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="navbar-toggler-icon"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right bg-info" aria-labelledby="navbarDropdownMenu">
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="/logout"><i class="fa fa-sign-out fa-fw"></i> <span class="d-none d-md-inline">Cerrar Sesión</span></a>
                </li>
            </ul>
        </div>
    </nav>
</aside>