aside {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-x: hidden;
}

h1,
i {
    background: -webkit-linear-gradient(#66ff66, #66ffcc);
    -webkit-background-clip: text;
    background-clip: 0;
    -webkit-text-fill-color: transparent;
}

a {
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: medium !important;
        margin: auto;
    }
    i {
        max-width: 10px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
    aside,
    nav,
    .collapse,
    .navbar-collapse,
    ul {
        flex-direction: row !important;
    }
}