<aside>
    <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
        <div class="collapse navbar-collapse ">
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                    <h1 class="pl-0 text-nowrap font-weight-bold text-light">Eventic</h1>
                </li>
                <li class="nav-item mb-3">
                    <a href="/home" class="nav-link pl-0" (click)="goHome()"><i class="fa fa-home fa-fw mr-3"></i><span class="d-none d-md-inline">Inicio</span></a>
                </li>
                <li class="nav-item mb-3">
                    <a href="/home/perfil" class="nav-link pl-0"><i class="fa fa-user fa-fw mr-3"></i><span class="d-none d-md-inline">Mi perfil</span></a>
                </li>
                <li class="nav-item mb-3">
                    <a href="/home/bienestar" class="nav-link pl-0"><i class="fa fa-heart mr-3"></i><span class="d-none d-md-inline">Bienestar</span></a>
                </li>
                <li class="nav-item mb-3">
                    <a href="/home/mis-eventos" class="nav-link pl-0"><i class="fa fa-calendar mr-3" aria-hidden="true"></i><span class="d-none d-md-inline">Mis Eventos</span></a>
                </li>
                <li class="nav-item mb-3">
                    <a href="/home/mis-invitaciones" class="nav-link pl-0"><i class="fa fa-envelope-open mr-3" aria-hidden="true"></i><span class="d-none d-md-inline">Mis Invitaciones</span></a>
                </li>
                <li class="nav-item">
                    <a href="/home/logout" class="nav-link pl-0"><i class="fa fa-sign-out fa-fw mr-3"></i><span class="d-none d-md-inline">Cerrar Sesión</span></a>
                </li>
            </ul>
        </div>
    </nav>
</aside>