.container {
    padding: 0;
}

.news-item {
    height: 33vh !important;
    width: 100% !important;
    background: rgb(101, 23, 230);
    background: linear-gradient(135deg, rgba(101, 23, 230, 1) 12%, rgba(10, 28, 240, 1) 38%, rgba(2, 117, 217, 1) 69%, rgba(10, 236, 240, 1) 91%, rgba(9, 230, 126, 1) 100%);
    color: antiquewhite;
    justify-content: center;
    justify-items: center;
}

h1,
h2 {
    padding-top: 5%;
    text-align: center;
}