.container {
    padding: 0 !important;
}

div {
    position: relative !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

input[type="checkbox"][id^="a"] {
    display: none;
}

input[type="checkbox"][id^="f"] {
    display: none;
}

label {
    border: 1px solid #fff;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

label:before {
    background-color: rgb(17, 185, 101);
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid rgb(17, 185, 101);
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img {
    height: 100px;
    width: 100px;
    opacity: 0.5;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

 :checked+label {
    border-color: rgb(17, 185, 101);
    border-radius: 100px;
}

 :checked+label:before {
    content: "✓";
    background-color: rgb(17, 185, 101);
    transform: scale(1);
}

 :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px rgb(17, 185, 101);
    border-radius: 50px;
    z-index: -1;
    opacity: 1;
}

@media only screen and (max-width: 400px) {
    p {
        font-size: 12px;
        transition-duration: 0.2s;
        transform-origin: 25% 25%;
    }
    label img {
        height: 50px;
        width: 50px;
        opacity: 0.5;
        transition-duration: 0.2s;
        transform-origin: 25% 25%;
    }
}