.container {
    padding: 0 !important;
}

div {
    position: relative !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

input[type="checkbox"][id^="a"] {
    display: none;
}

input[type="checkbox"][id^="f"] {
    display: none;
}

label {
    border: 1px solid #fff;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

label:before {
    background-color: rgb(17, 185, 101);
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid rgb(17, 185, 101);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img {
    height: 100px;
    width: 100px;
    opacity: 0.5;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

 :checked+label:before {
    content: "✓";
    background-color: rgb(17, 185, 101);
    transform: scale(1);
}

 :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px rgb(17, 185, 101);
    border-radius: 50px;
    z-index: -1;
    opacity: 1;
}

@media only screen and (max-width: 400px) {
    p {
        font-size: 12px;
        transition-duration: 0.2s;
        transform-origin: 25% 25%;
    }
    label img {
        height: 50px;
        width: 50px;
        opacity: 0.5;
        transition-duration: 0.2s;
        transform-origin: 25% 25%;
    }
}


/* width */

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #3d3d3d;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(101, 23, 230);
    background: linear-gradient(135deg, rgba(101, 23, 230, 1) 12%, rgba(10, 28, 240, 1) 38%, rgba(2, 117, 217, 1) 69%, rgba(10, 236, 240, 1) 91%, rgba(9, 230, 126, 1) 100%);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
}