<form [formGroup]="form">
    <div formArrayName="invitations" *ngFor="let i = index; let creds of form.get('invitations')['controls'] ">
        <ng-container [formGroupName]="i" class="table-responsive-sm">
            <table class="table table-striped w-auto">
                <tbody>
                    <tr class="row">
                        <td><input placeholder="Nombre" class="editor-tag" formControlName="name"></td>
                        <td><input placeholder="Apellidos" class="editor-tag" formControlName="surname"></td>

                        <td> <select class="editor-tag" formControlName="confirmed">
                            <option disabled="disabled">Confirmado</option>
                            <option value="true">Sí</option>
                            <option value="false">No</option>
                        </select></td>
                    </tr>
                    <tr class="row">
                        <td>
                            <div class="editor-tag">
                                <span class="tag-itemA" *ngFor="let tagA of tagsA">
                                  {{tagA}}
                                  <span class="remove-tag" (click)="removeTagA(tagA)">×</span>
                                </span>


                            </div>
                        </td>
                        <td>
                            <div class="editor-tag">
                                <span class="tag-itemF" *ngFor="let tagF of tagsF">
                                  {{tagF}}
                                  <span class="remove-tag" (click)="removeTagF(tagF)">×</span>
                                </span>

                            </div>
                        </td>
                        <td *ngIf="editInvitation">
                            <button type="button" class="btn btn-success" (click)="editItem()"><i class="fa fa-save fa-fw"></i></button>
                            <button type="button" class="btn btn-secondary" (click)="removeItem()"><i class="fa fa-times fa-fw"></i></button>
                        </td>
                        <td *ngIf="!editInvitation">
                            <button type="button" class="btn btn-success" (click)="saveItem()"><i class="fa fa-save fa-fw"></i></button>
                            <button type="button" class="btn btn-secondary" (click)="removeItem()"><i class="fa fa-trash fa-fw"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>

    </div>


</form>