<div class="container">
    <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let new of News">

            <div class="carousel-caption">
                <div class="d-flex align-items-center justify-content-lg-center m-auto">
                    <h5 class="col">{{new.event_title}}</h5>
                    <h5 class="col">{{new.created | date: 'd/M/yy HH:mm a'}}</h5>
                </div>
                <h1>{{new.new_title}}</h1>
                <h4>{{new.new_body}}</h4>
            </div>

        </ng-template>
    </ngb-carousel>
</div>